[submodule "cmake/ragel"]
	path = cmake/ragel
	url = https://github.com/gsauthof/cmake-ragel.git
[submodule "cmake/modules"]
	path = cmake/modules
	url = https://github.com/gsauthof/cmake-modules.git
[submodule "libixxx"]
	path = libixxx
	url = https://github.com/gsauthof/libixxx.git
[submodule "libixxxutil"]
	path = libixxxutil
	url = https://github.com/gsauthof/libixxxutil.git
